.images-area {
	overflow:hidden;
	width:100%;
	height:400px;

	.row {
		margin-left:0;
	}

	.image-view {
		border:1px solid $lightgray;
		overflow:hidden;
		height:380px;
		margin:10px;

		img {
			width:100%;
		}
	}
}