.images-area {
	overflow:hidden;
	width:100%;
	height:400px;

	.row {
		margin-left:0;
	}

	.image-view {
		border:1px solid $lightgray;
		overflow:hidden;
		height:380px;
		margin:10px;

		img {
			width:100%;
		}
	}
}

.infosection {
  a {
	font-size: 18px;
	color: $gray;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;

	&:hover {
	  text-decoration: none;
	  color: $lightorange;
	}
  }

  h4 {
	text-transform: uppercase;
	font-size: 14px;
  }
}