.pm-area,.proj-area {
	.box a {
		display:inline;
	}
	.box a.button {
		display:block;
	}

	.box li span.error {
		color: $error;
	}

	.box li span.success {
		color: $success;
	}

	.package-images {
		.package-image {
			position: relative;
			cursor:move;
			
			width:100px;
			height:100px;
			overflow:hidden;
			background-size: 100% 100%;

			a {
				position: absolute;
				top: 10;
				font-size: 16px;
				right: 10px;
				padding: 10px;
				background: $white;
				z-index: 2;
			}
		}
	}
}