.projectview {

  .images img {
    width: 100%;
  }

  .informations {
    background: $lightgray;
    padding-bottom: 20px;
  }

  .crumb {
    border-top: none;
    a {
      display: inline;
    }
  }
}