@import "slider";
@import "header";
@import "box";
@import "button";
@import "feature";
@import "userheader";

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.container {
    width: 1200px;
}

.line {
    border-bottom: 1px solid $lightgray;
    margin: 50px 0;
}

.line.uppersmall {
    margin-top: 20px;
}

h1 {
    color: $orange;
    font-size: 26px;
}

.footer {
    width: 100%;
    background-color: $orange;
    color: $white;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    margin-top: 90px;
}