.userheader {
	border-bottom: 1px solid $lightgray;
	padding: 10px 0;

	.hello-col {
		text-align:right;
	}
}

.userheader a {
	padding: 5px 15px;

	font-size:14px;

	color:$gray;
	text-decoration:none;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;

	&:hover {
		color: $orange;
	}

	&:before {
		padding-right:10px;
	}

	&.button {
		color: $white;
	}
}