@import scala.collection.mutable._ 
@(message:String,count:Int,isAuthed:Boolean, user:models.User)

@main("RPGBOSS Asset Server - Account Activation",isAuthed, user) {

    
    <div class="box gap notfixed">
    		@if(count==1) {
	        <div class="notice success">
	            Your account have been activated successfully.
	        </div>
          <br>
          <a class="button" href="/login">To the loginpage</a>
	        
        } else {
	        <div class="notice error">
	            Your activation key is invalid. <br>
	        </div>
        }
    </div>

}
