@import scala.collection.mutable._ 
@(isAuthed:Boolean, user:models.User, packages:MutableList[AssetPackage])

@main("RPGBOSS Asset Server - Package Management",isAuthed, user,3) {
		
		<div class="adminpanel-area">
	    <div class="col-md-4">
			@adminpanel_leftcol(0)
	    </div>
	    <div class="col-md-8">
	    	<div class="row box notfixed gap">
					<h1>Unapproved Packages</h1>
					@packages.map { thepackage:AssetPackage =>
						<div class="col-md-4">
							<div class="box package gap">
								<h1>@thepackage.name</h1>
								<p>@Html(thepackage.description)</p>
								<a href="/adminpanel/unapproved/lookat/@thepackage.id" class="button full">Details</a>
							</div>
						</div>
					}
	    	</div>
	    </div>
		</div>
}
