@import scala.collection.mutable._ 
@(categories: MutableList[Category],currentCategory:models.Category, currentPackage:models.AssetPackage, isAuthed:Boolean, user:models.User, packageComments:MutableList[Comment])

@main("RPGBOSS Asset Server - "+currentCategory.name,isAuthed, user) {

    @leftcol(categories, currentCategory)
    <div class="col-xs-9">
        <h1>@currentPackage.name</h1>
        <h4>Version: @currentPackage.version</h4>
        <div class="images-area">
            <div class="row">
            @if(currentPackage.pictures!="") {
                @currentPackage.getAllImages().map { file:String =>
                    <div class="image-view col-xs-4"> 
                        <img src="@routes.Assets.at("images/packages/"+file)" alt="">
                    </div>
                }
            }
            </div>
        </div>
        <br><br>
        <p>@Html(currentPackage.description)</p>
        @if(isAuthed) {
        	<a href="@currentPackage.url" class="button full">Download</a>
        } else {
        	<a href="/login" class="button full">Login to download</a>
        }
        <div class="box notfixed gap">
            <h1>User Comments</h1>
            @packageComments.map { row:Comment =>
            <div class="comment">
                <h4>@row.User.display_name</h4>
                <p>@Html(row.content)</p>
                <div class="line"></div>
                <span class="date">@row.created_at</span>
            </div>
            }
        </div>
        @if(isAuthed) {
            <h3>Comment</h3>
            <form method="post" action="/comment/add/@currentPackage.id?redirect=/c/@currentCategory.slug/@currentPackage.slug">
                <span>You have <strong><span id="charsleft">0 / 255</span></strong> of characters left.</span>
                <input type="hidden" value="0" name="rating">
                <textarea name="text" id="" cols="30" rows="10"></textarea>
                <br>
                <input type="submit" class="button" value="Make a Comment">
            </form>
        }
    </div>

        <script src="@routes.Assets.at("javascripts/ckeditor/ckeditor.js")"></script>
        <script>

        function UpdateTextLength() {
            var current = CKEDITOR.instances['text'].getData().length,
                    maxlength = 255;

            document.getElementById('charsleft').innerHTML = (maxlength-current) + " / " + maxlength;
        }

        CKEDITOR.replace( 'text' );
        CKEDITOR.instances['text'].on('key', UpdateTextLength);
        CKEDITOR.instances['text'].on('paste', UpdateTextLength);
        CKEDITOR.instances['text'].on('keypress', UpdateTextLength);
        CKEDITOR.instances['text'].on('blur', UpdateTextLength);
        CKEDITOR.instances['text'].on('change', UpdateTextLength);
        UpdateTextLength();


    </script>

}
