@import scala.collection.mutable._ 
@(categories: List[(String, String)], packages: MutableList[models.AssetPackage],currentCategory:models.Category)

@main("RPGBOSS Asset Server - @currentCategory.name") {

    <div class="col-xs-3">
        <div class="box notfixed gap">
        <h1>Ressources</h1>
        <ul>
            <li><a href="/">Home</a></li>
        @categories.map { case (key, value) =>
          @if(currentCategory.slug != value) {
            <li><a href="/c/@value">@key</a></li>
          } else {
            <li><a class="active" href="/c/@value">@key</a></li>
          }
        } 
        </ul>
        </div>
        <div class="box notfixed gap">
            <h1>Sign Up</h1>
            <p>Register to be able to import directly into your editor.</p>
            <a href="/register" class="button full">Sign Up</a>
        </div>
    </div>
    <div class="col-xs-9">
        <h1>@currentCategory.name</h1>
        <br><br>
        @if(packages.size!=0) {
        @packages.map { row:AssetPackage =>
          <a href="/c/@currentCategory.slug/@row.slug">
            <div class="box gap col-md-4">
              <h1>@row.name</h1>
            </div>
          </a>
         }
        } else {
          <div class="notice">
            There are no packages in this category.
          </div>
        }
    </div>

}
