@import scala.collection.mutable._ 
@(categories: MutableList[Category], packages: MutableList[models.AssetPackage],currentCategory:models.Category, isAuthed:Boolean, user:models.User)

@main("RPGBOSS Asset Server - @currentCategory.name",isAuthed, user) {

    @leftcol(categories, currentCategory)
    <div class="col-xs-9">
        <h1>@currentCategory.name</h1>
        <br><br>
        @if(packages.size!=0) {
        @packages.map { row:AssetPackage =>
          <a href="/c/@currentCategory.slug/@row.slug">
            <div class="box gap col-md-4">
              <h1>@row.name</h1>
            </div>
          </a>
         }
        } else {
          <div class="notice">
            There are no packages in this category.
          </div>
        }
    </div>

}
