@(message: String, isAuthed:Boolean, user:models.User)

@main("RPGBOSS Asset Server - Forgot Password",isAuthed, user) {

    <div class="login-area">
    	<h1>Forgot your Password?</h1>
    	<p>
    		Type in your E-mail Adress.<br>
    		We will send you an email to change your password.
    	</p>
    	<form class="form-horizontal" role="form" action="">
			<div class="form-group">
		    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
		    <div class="col-sm-10">
		      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
		    </div>
		  </div>	  
    	  <input class="button full" type="submit" name="submit" value="Reset ">
    	</form>
    </div>

}
