@(message: String)

@main("RPGBOSS Asset Server") {

    <div class="">
    	<div class="row">
    		<div class="col-xs-1">
    			<img src="@routes.Assets.at("images/rpgboss-logo.png")" alt="">
    		</div>
    		<div class="col-xs-11">
    			<h1>rpgboss</h1>
    			<h2>Asset Server</h2>
    		</div>
    	
    	</div>
    	<form action="">
    		<input type="text" name="username">
    		<input type="text" name="password">
    		<input type="submit" name="submit" value="Login">
    	</form>
    </div>

}
