@(title: String, isAuthed:Boolean, user:models.User, loggedInActive:Int=0)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-theme.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="header">
          <div class="container">
            <div class="col-md-3 logo">
              <a href="/">
                <img src="@routes.Assets.at("images/rpgboss-logo.png")" alt="">
                rpgboss
              </a>
            </div>
            <div class="col-md-9">
              <ul>
                <li><a href="https://github.com/rpgboss/rpgboss">Get the Source</a></li>
                <li><a href="https://github.com/rpgboss/rpgboss/issues">BugTracker</a></li>
                <li><a href="http://rpgboss.forumatic.com/">Community Forum</a></li>
                <li><a class="active" href="http://rpgboss.forumatic.com/">Asset Store</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="userheader">
            <div class="container">
                <div class="col-md-8">
                    @if(isAuthed) {
                      <a class="@if(loggedInActive==1) { active }" href="/packagemanagement"><span class="icon-package"></span>Packagemanagement</a>

                      <a class="@if(loggedInActive==2) { active }" href="/profile"><span class="icon-profile"></span>Profile</a>
                      @if(user.admin==1) {
                        <a class="@if(loggedInActive==3) { active }" href="/adminpanel/unapproved"><span class="icon-settings"></span>Admin</a>
                      }
                    }
                </div>
                <div class="col-md-4 hello-col">
                    @if(isAuthed) {
                      <strong>Hello, @user.display_name</strong>&nbsp;&nbsp;&nbsp;<a href="/logout" class="button">Logout</a>
                    } else {
                      <strong>Hello, Guest</strong>&nbsp;&nbsp;&nbsp;<a href="/login" class="button">Login</a>
                    }
                </div>
            </div>
        </div>
    	<div class="container">
        @content
        </div>
        <footer class="footer">
          <div class="container">
          2014 © rpgboss.com
          </div>
        </footer>
        <script type="text/javascript">
        $(document).ready(function() {
          var bodyHeight = $("body").height();
          var vwptHeight = $(window).height();
          if (vwptHeight > bodyHeight) {
            $("footer").css("position","absolute").css("bottom",0);
          }
        });
        </script>
    </body>
</html>
