@import scala.collection.mutable._ 
@(publicuser:models.User, packages:MutableList[AssetPackage], isAuthed:Boolean, user:models.User)

@main("RPGBOSS Asset Server - User - "+publicuser.display_name,isAuthed, user) {

	<div class="row">
    <div class="col-xs-12">
        <div class="box notfixed gap">
            <h4>@publicuser.display_name</h4>
            <div class="line"></div>
            <div class="notice">All published packages</div>
            <div class="row">
								@packages.map { row:AssetPackage =>
								<div class="col-md-4">
	                <a href="/c/@row.getCategory.slug/@row.id/@row.slug">
	                  <div class="box package gap">
	                    <h1>@row.name</h1>
	                    <div class="image-view">
	                    @if(row.pictures!="") {
	                      <img src="/dynimage/@row.getMainImage()" alt="">
	                    }
	                    </div>
	                  </div>
	                </a>
                </div>
               }
            </div>
        </div>
    </div>
	</div>
}
