@import scala.collection.mutable._ 
@(categories: MutableList[Category], packages: Map[String, MutableList[models.Category]],currentCategory:models.Category, isAuthed:Boolean, user:models.User)

@main("RPGBOSS Asset Server", isAuthed, user) {

    @leftcol(categories, currentCategory)
    <div class="col-xs-9">
        <h1>Latest Packages</h1>
        <br><br>
        @categories.map { category:models.Category =>
          <div class="category-list">
              <h2>@category.name</h2>
              <div class="line"></div>
              <div class="row">
                @if(packages(category.name).size!=0) {
                 @packages(category.name).map { row:Category =>
                  <a href="/c/@category.slug/@row.slug">
                    <div class="box gap col-md-4">
                      <h1>@row.name</h1>
                    </div>
                  </a>
                 }
                } else {
                  <div class="notice">
                    There are no packages in this category.
                  </div>
                }
              </div>
              
          </div>
        } 
    </div>

}
